{% extends "./base.html" %}

{% load static %}

{% block content %}
  
    <section class="py-4 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h4> Lindo's Gaming Shop </h4>
                <br>
                <p class="lead text-muted">
                Navegue pela nossa coleção
                </p>
                <br>
                <a href="#" class="btn btn-primary my-2"> Criar uma conta </a>
            </div>
        </div>
    </section>

{% endblock %}